<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css">
    </th:block>

    <th:block id="script">
    </th:block>

</head>
<body>
<section>
    <div>
        <span>대시보드</span>

        <div>
            <span>월별 가입자 현황</span>
            <div id="graph1">그래프 들어갈거임</div>
        </div>

        <div>
            <span>월별 업체 현황</span>
            <div id="graph2">그래프 들어갈거임</div>
        </div>

        <div>
            <span>월별 채용 현황</span>
            <div id="graph3">그래프 들어갈거임</div>
        </div>

        <div>
            <span>공지사항</span>
            <ul>
                <li>공지1</li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>
