<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="navigation">
        <div>
            <div><img src="채용 로고" alt="로고"></div>
            <div><span>**님 환영합니다.</span></div>
        </div>

        <div>
            <ul>
                <li><a href="/admin/recruit">채용 현황 관리</a></li>
                <li><a href="/admin/notice">공지 관리</a></li>
                <li><a href="/admin/company">업체 관리</a></li>
<!--                <li><a href="/admin/code">공통 코드 설정</a></li>-->
            </ul>
        </div>
    </div>
</body>
</html>
