<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="navigation">
        <div class="nav-top">
            <h1 class="nav-top__logo"><img src="" alt=""></h1>
<!--            <div><span>**님 환영합니다.</span></div>-->
        </div>
        <ul class="nav-menu">
            <li><a href="/admin/recruit"><img src="" alt=""><span>채용 현황 관리</span></a></li>
            <li><a href="/admin/notice"><img src="" alt=""><span>공지 관리</span></a></li>
            <li><a href="/admin/company"><img src="" alt=""><span>업체 관리</span></a></li>
<!--                <li><a href="/admin/code"><img src="" alt="">공통 코드 설정</a></li>-->
        </ul>
    </div>
</body>
</html>
