<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::.inner})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/notice/notice.js}"></script>
    </th:block>

</head>
<body>
<div class="inner">
    <h2 class="page-tit">공지 등록</h2>

    <form th:object="${noticeDto}">
        <div class="page-container">
            <div class="form-tit">
                <span class="label-txt essential">제목</span>
                <input type="text" th:field="*{title}" valid="essential" maxlength="100" placeholder="제목을 입력해 주세요">
            </div>

            <textarea th:field="*{content}" editor="editor"></textarea>

            <div class="form-file">
                <span class="label-txt">첨부파일</span>
                <div class="file-upload">
                    <input type="text" placeholder="첨부파일을 선택해 주세요" disabled>
                    <label for="file_input" class="upload-btn btn medium solid-assistive">
                        파일찾기
                        <input type="file" id="file_input" class="file-input" multiple="multiple" />
                    </label>
                    <div class="filenames"></div>
                </div>
            </div>
        </div>
        <div class="page-bottom">
            <button class="btn large outline-assistive" type="button" onclick="$view.main()" th:text="#{btn.list}"></button>
            <button class="btn large solid-primary" type="button" onclick="pageObj.save()" th:text="#{btn.save}"></button>
        </div>
    </form>
</div>
</body>
</html>
