<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="modal(id)" th:id="${id}" class="modal fade">
        <div class="modal-content">
            <div class="modal-header">
                <h3></h3>
                <button class="btn-txt small secondary ico-l" type="button" th:onclick="$modal().close([[${id}]])">
                    <img src="/images/common/cross_gray_ico.svg"><span aria-hidden="true">삭제</span>
                </button>
            </div>
            <div class="modal-body">
                <div></div>
            </div>
        </div>
    </div>
</body>
</html>
